@using SunglassesApp.Models;
@using SunglassesApp.Helpers;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<SunglassesApp.Models.Product>

@{
    Layout = "_Layout";

    var products = Model.ToList();

    var productBrands = products.Select(p => p.Brand).Distinct();

    var productCategories = EnumExtensions.GetDisplayNames<Category>();
    var productFrameTypes = EnumExtensions.GetDisplayNames<FrameType>();
    var productFrameColors = EnumExtensions.GetDisplayNames<FrameColor>();
    var productLensColors = EnumExtensions.GetDisplayNames<LensColor>();
    var productUv = EnumExtensions.GetDisplayNames<UVProtection>();

}


<div class="container-fluid p-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="mb-0 text-light">Pregled kataloga</h4>
            <div class="d-flex gap-2 align-items-center">
                <form method="get" asp-controller="Customer" asp-action="Index" class="d-flex justify-content-end">
                <select name="sortOrder" class="form-select rounded-3 shadow" onchange="this.form.submit()">
                    <option value="default" selected="@(ViewBag.CurrentSort == null || ViewBag.CurrentSort == "default")">Podrazumevano</option>
                    <option value="price_asc" selected="@(ViewBag.CurrentSort == "price_asc")">Cena rastuće</option>
                    <option value="price_desc" selected="@(ViewBag.CurrentSort == "price_desc")">Cena opadajuće</option>
                    <option value="times_bought" selected="@(ViewBag.CurrentSort == "times_bought")">Najprodavaniji</option>
                </select>
            </form>
            </div>
        </div>

        <div class="row g-4">
          
            <div class="col-lg-3">
                <div class="filter-sidebar p-4 shadow-sm h-100 overflow-scroll position-static">
                <form method="get" asp-controller="Customer" asp-action="Index">
                    <div class="filter-group">

                        <h6 class="mb-3">Kategorije</h6>
                        @foreach (var filter in Enum.GetValues(typeof(Category)))
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="cat-@filter" name="Categories" value="@((int)filter)">
                                <label class="form-check-label" for="cat-@filter">
                                    @EnumExtensions.GetDisplayName((Category)filter)
                                </label>
                            </div>
                        }

                    </div>

                    <div class="filter-group">

                        <h6 class="mb-3">Brend</h6>
                        @foreach (var brand in productBrands)
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="@brand" name="Brands" value="@brand">
                                <label class="form-check-label" for="@brand">
                                    @brand
                                </label>
                            </div>
                        }

                    </div>

                    <div class="filter-group">

                        <h6 class="mb-3">Pol</h6>
                        @foreach (var filter in Enum.GetValues(typeof(Gender)))
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="cat-@filter" name="Genders" value="@((int)filter)">
                                <label class="form-check-label" for="cat-@filter">
                                    @EnumExtensions.GetDisplayName((Gender)filter)
                                </label>
                            </div>
                        }

                    </div>

                    <div class="filter-group">
                        <h6 class="mb-3">Oblik</h6>
                        @foreach (var filter in Enum.GetValues(typeof(FrameType)))
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="cat-@filter" name="FrameTypes" value="@((int)filter)">
                                <label class="form-check-label" for="cat-@filter">
                                    @EnumExtensions.GetDisplayName((FrameType)filter)
                                </label>
                            </div>
                        }

                    </div>

                    <div class="filter-group">
                        <h6 class="mb-3">Boja okvira</h6>
                        @foreach (var filter in Enum.GetValues(typeof(FrameColor)))
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="FrameColors" value="@((int)filter)">
                                <label class="form-check-label" for="cat-@filter">
                                    @EnumExtensions.GetDisplayName((FrameColor)filter)
                                </label>
                            </div>
                        }

                    </div>

                    <div class="filter-group">
                        <h6 class="mb-3">Boja stakala</h6>
                        @foreach (var filter in Enum.GetValues(typeof(LensColor)))
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="cat-@filter" name="LensColors" value="@((int)filter)">
                                <label class="form-check-label" for="cat-@filter">
                                    @EnumExtensions.GetDisplayName((LensColor)filter)
                                </label>
                            </div>
                        }

                    </div>

                    <div class="filter-group">
                        <h6 class="mb-3">UV Zaštita</h6>
                        @foreach (var filter in Enum.GetValues(typeof(UVProtection)))
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="cat-@filter" name="UVProtection" value="@((int)filter)">
                                <label class="form-check-label" for="cat-@filter">
                                    @EnumExtensions.GetDisplayName((UVProtection)filter)
                                </label>
                            </div>
                        }

                    </div>

   

                    @* <div class="filter-group">
                        <h6 class="mb-3">Colors</h6>
                        <div class="d-flex gap-2">
                            <div class="color-option selected" style="background: #000000;"></div>
                            <div class="color-option" style="background: #dc2626;"></div>
                            <div class="color-option" style="background: #2563eb;"></div>
                            <div class="color-option" style="background: #16a34a;"></div>
                        </div>
                    </div> *@

                    @* <div class="filter-group">
                        <h6 class="mb-3">Rating</h6>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="rating" id="rating4">
                            <label class="form-check-label" for="rating4">
                                <i class="bi bi-star-fill text-warning"></i> 4 & above
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="rating" id="rating3">
                            <label class="form-check-label" for="rating3">
                                <i class="bi bi-star-fill text-warning"></i> 3 & above
                            </label>
                        </div>
                    </div> *@

                    <button class="btn btn-outline-primary w-100">Primeni filtere</button>
                </form>
                    
                </div>
            </div>

         
            <div class="col-lg-9">
                <div class="row g-4">
                    <!-- Product Card 1 -->
                @foreach(var product in Model)
                {
                    <div class="col-md-4">
                        <div class="product-card shadow-sm ">
                            <div class="position-relative">
                                <a asp-controller="Customer" asp-action="ProductDetails" asp-route-id="@product.Id"><img src="@product.ImageUrl" class="product-image w-100" alt="Product"></a>
                                @if(product.Promotion != null)
                                {
                                    @switch(product.Promotion.DiscountPercentage)
                                    {
                                        case >=50:
                                            <span class="discount-badge fw-bolder">@product.Promotion.Name</span>
                                            break;
                                        case >=30:
                                            <span class="discount-badge bg-info text-secondary fw-bolder">@product.Promotion.Name</span>
                                            break;
                                        case >=20:
                                            <span class="discount-badge bg-warning text-danger fw-bolder">@product.Promotion.Name</span>
                                            break;
                                    }
                                }

                            </div>
                            <div class="p-3">
                                <span class="category-badge mb-2 d-inline-block">@product.Category!.GetDisplayName()</span>
                                
                                
                                <div class=" mb-2 d-flex justify-content-between align-items-center">
                                   
                                    <div>
                                        <h6 class="mb-1">@product.Name</h6>
                                        <i class="rating-stars bi bi-star-fill"></i>

                                        <span class="text-muted ms-2">(4.5)</span>
                                    </div>

                                    <div class="d-flex flex-column">
                                        @{
                                            if (product.PromoPrice != null)
                                            {
                                                <span class="price text-decoration-line-through text-danger">@product.Price RSD</span>
                                                <span class="price bg-warning text-dark p-2 rounded-3 shadow">@product.PromoPrice RSD</span>
                                            }
                                            else
                                            {
                                                <span class="price text-decoration-line-through text-danger opacity-0">rar</span>
                                                <span class="price mt-3">@product.Price RSD</span>

                                            }
                                        }
                                    </div>
                                    
                                </div>
                                <div class="d-flex justify-content-center align-items-center ">
                                   
                                    @{
                                        if(User.IsInRole("User") && SignInManager.IsSignedIn(User))
                                        {
                                            <button class="btn cart-btn hover shadow">
                                                <i class="bi bi-cart4"></i>
                                                Dodaj u korpu
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                   

                </div>
            </div>
        </div>
    </div>
