@using Microsoft.AspNetCore.Identity
@using SunglassesApp.ViewModels
@using SunglassesApp.Helpers;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model  ProductDetailsViewModel;
@{
    Layout = "_Layout";
    string errorMessage = "";
    if(TempData["ErrorMessage"] != null)
    {
        errorMessage = TempData["ErrorMessage"]!.ToString()!;
    }

    var currentUser = await UserManager.GetUserAsync(User);
    string currUserId = "";
    bool rateEdit = false;
    int ratingsCount = Model.Ratings?.Count() ?? 0;

    if(Model.ProductVm?.UserRating != null)
    {
        rateEdit = true;
    }

    if(currentUser != null)
    {
        currUserId = currentUser!.Id;
    }



}


    <div class="row bg-light p-5 w-100 min-vh-100 m-auto">
       
        
        <div class="col-md-6 mb-4">
            <img src="@Model.ProductVm!.ImageUrl" alt="Product" class="img-fluid rounded w-100 product-image h-100" id="mainImage">
        
        
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">@Model.ProductVm.Brand @Model.ProductVm.Model</h2>

            @if(Model.ProductVm.Promotion != null)
            {
            <div class="d-inline-flex flex-column">
                <p class="text-danger fs-5 fw-bolder bg-black bg-opacity-25 p-2 mt-2 mb-2 d-inline mb-4 rounded-3 ">@Model.ProductVm.Promotion?.Name -@Model.ProductVm.Promotion?.DiscountPercentage%</p>
                <span class="text-muted mb-2">Promocija traje do @string.Format("{0:dd.MM.yyyy}", Model.ProductVm.Promotion!.EndDate)</span>
            </div>
            }
 

            <div class="mb-3 mt-3">
            @if (Model.ProductVm.Promotion != null)
            {
                <span class="h4 me-2">@Model.ProductVm.PromoPrice RSD</span>
                <span class="text-danger fw-bolder"><s>@Model.ProductVm.Price RSD</s></span>
            }
            else
            {
                <span class="price h4 fw-bolder">@Model.ProductVm.Price RSD</span>

            }
            </div>
            <div class="mb-3">
                <i class="bi bi-star-fill text-warning"></i>
               
                <span class="ms-2">@Model.ProductVm.AverageRating (@ratingsCount recenzija)</span>
            </div>
            <p class="mb-4">
            @Model.ProductVm.Description
            </p>

            <div class="mb-4">
                <label for="quantity" class="form-label">Količina:</label>
                <input type="number" class="form-control" id="quantity" value="1" min="1" style="width: 80px;">
            </div>
            <button class="btn btn-primary btn-lg mb-3 me-2">
                <i class="bi bi-cart-plus"></i> Dodaj u korpu
            </button>

            
        </div>
        
            
       
        

        <div class="container">
            <div class="comment-section">
                <h2 class="text-warning fw-bolder text-center ">Komentari kupaca</h2>
                

            @if (User.IsInRole("User") && SignInManager.IsSignedIn(User))
            {
                <div class="col-md-6 d-flex justify-content-center w-100">
                    <div class="rating-card p-4">
                        <form id="ratingForm" asp-controller="Rating" asp-action="Rate" method="post">
                            <input type="hidden" name="id" value="@Model.ProductVm.UserRatingId" />
                            <input type="hidden" name="isEdit" value="@(rateEdit ? "true" : "false")" />
                            <input type="hidden" name="productId" value="@Model.ProductVm.Id" />
                            <input type="hidden" name="userId" value="@currUserId" />
                            <div class="star-rating animated-stars">
                                @for (int i = 5; i >= 1; i--)
                                {
                                    <input type="radio" id="star-@i" name="value" value="@i" class="d-none" />
                                    <label for="star-@i" class="bi bi-star-fill" style="cursor:pointer"></label>
                                }
                            </div>
                        </form>
                        <p class="text-muted mt-2">Ocenite proizvod</p>
                    </div>
                </div>

        
                

                <div class="mb-4">
                    <div class="d-flex gap-3  flex-column">
                        <div class="d-block fw-bolder text-success">
                            <span class="p-1 rounded-3">@User.Identity?.Name</span>
                            <div class="star-rating">
                                @for (int i = 0; i < Model.ProductVm.UserRating; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }

                            </div>
                        </div>
                        <div class="flex-grow-1">
                            
                            @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new
                            {
                                @class = "needs-validation ",
                                novalidate = "novalidate"
                            }))
                            {
                                @Html.HiddenFor(m => m.ProductVm!.Id)
                                @* <textarea class="form-control comment-input" rows="3" placeholder="Napišite komentar"></textarea> *@
                                @Html.TextAreaFor(m => m.CommentVm!.Content, new {@class = "form-control comment-input", rows = 3})
                                @Html.ValidationMessageFor(m => m.CommentVm!.Content, errorMessage, new { @class = "text-danger mx-2 fw-bold" })

                                <div class=" text-end">
                                    <button class="btn btn-comment text-white" type="submit">Objavi komentar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else if (!SignInManager.IsSignedIn(User))
            {
                <h6 class="text-secondary fw-bolder text-center ">Samo registrovani korisnici mogu da ostavljaju komentare</h6>
            }

                <div class="comments-list">
                    
                @foreach(var c in Model.Comments)
                {
                    
                    <div class="comment-box">
                        <div class="d-flex gap-3">
                            <div class="flex-grow-1">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    @if(c.UserId == currUserId)
                                    {
                                        <h6 class="mb-0 text-success">@c.User.UserName</h6>
                                    }
                                    else
                                    {
                                        <h6 class="mb-0">@c.User.UserName</h6>
                                    }

                                    
                                    
                                        
                                    

                                   

                                    <span class="comment-time">@c.AddedAt</span>
                                </div>
                                <p class="mb-2">
                                    @c.Content
                                </p>
                                <div class="comment-actions">

                                    @if(c.UserId == currUserId)
                                    {
                                        <form asp-action="DeleteComment" asp-controller="Comment" asp-route-id="@c.Id" method="post" class="d-inline">
                                            <button type="submit" class="border-0 p-0 bg-transparent">
                                                <i class="bi bi-trash3-fill"></i> Obriši komentar
                                            </button>
                                        </form>
                                    }
                                    else if (User.IsInRole("Admin"))
                                    {
                                        <form asp-action="DeleteComment" asp-controller="Comment" asp-route-id="@c.Id" method="post" class="d-inline">
                                            <button type="submit" class="border-0 p-0 bg-transparent">
                                                <i class="bi bi-trash3-fill"></i> Obriši komentar
                                            </button>
                                        </form>
                                    }

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }

                    
                    
                </div>
            </div>
        </div>

    </div>

<script>
    document.querySelectorAll('.star-rating label').forEach(function(label) {
        label.addEventListener('click', function() {
            var starId = this.getAttribute('for');
            document.getElementById(starId).checked = true;
            document.getElementById('ratingForm').submit();
        });
    });
</script>



