@using Microsoft.AspNetCore.Identity
@using SunglassesApp.ViewModels
@model TicketDetailsViewModel



<div class="container my-5">
    <a href="@Url.Action("UserTickets", "Contact")" class="btn btn-outline-light mb-3">
        ← Nazad na listu tiketa
    </a>

    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0"> @Model.Title</h5>
            <small>
                <div class="d-flex justify-content-between">

                    @if (Model.IsResolved == false)
                    {
                        <span class="badge bg-warning text-dark p-2 fs-6 m-1">Otvoren</span>
              

                    }
                    else if (Model.IsResolved == true)
                    {
                        <span class="badge bg-success text-light p-2 fs-6 m-1">Zatvoren</span>
                        <form class="d-flex justify-content-end" asp-controller="Contact" asp-action="DeleteTicket" asp-route-id="@Model.Id" method="POST">
                            <button type="submit" class="btn btn-secondary">Obriši tiket</button>
                        </form>

                    }
                </div>
                
            </small>
        </div>

        <div class="card-body" style="max-height: 500px; overflow-y: auto; background-color: #f8f9fa;">
            @foreach (var message in Model.Messages)
            {
                <div class="mb-3 d-flex flex-column-reverse">
                    @if (message.IsFromAdmin)
                    {
                        <div class="p-3 bg-secondary text-light rounded-3" style="max-width: 70%; margin-left:auto;">
                            <strong>Admin:</strong> @message.Content
                            <div class="text-end">
                                <small class="text-light">@message.SentAt.ToString("dd.MM.yyyy HH:mm")</small>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="p-3 bg-primary border rounded-3 text-light" style="max-width: 70%;">
                            <strong>Ti:</strong> @message.Content
                            <div class="text-end">
                                <small class="text-light">@message.SentAt.ToString("dd.MM.yyyy HH:mm")</small>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

        @if (Model.IsResolved == false)
        {
            <div class="card-footer">
                <form asp-action="SendMessage" asp-controller="Contact" asp-route-ticketId="@Model.Id" method="post">
                
                    <div class="input-group">
                        <input type="text" name="message" class="form-control" placeholder="Unesi poruku..." required />
                        <button class="btn btn-primary" type="submit">Pošalji</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="card-footer text-danger text-center">
                Ovaj tiket je zatvoren.
            </div>
        }
    </div>
</div>