@using SunglassesApp.ViewModels
@model AdminPanelViewModel
@{
    Layout = "_AdminLayout";

}

<h1>Statistika</h1>

<div class="container ">
    <div class="row w-100 justify-content-center">

        <div class="col-md-3 mb-4">
            <div class="card text-white bg-primary shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-title">BROJ KUPACA</h6>
                            <h2 class="card-text">@Model.UserCount</h2>
                        </div>
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <div class="mt-2">
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 mb-4">
            <div class="card text-white bg-success shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-title">BROJ PROIZVODA</h6>
                            <h2 class="card-text">@Model.products.Count()</h2>
                        </div>
                        <i class="fas fa-glasses fa-3x"></i>
                    </div>
                    <div class="mt-2">
                       
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 mb-4">
            <div class="card text-white bg-warning shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-title">PORUDŽBINE</h6>
                            <h2 class="card-text">@Model.OrdersCount</h2>
                        </div>
                        <i class="fas fa-shopping-cart fa-3x"></i>
                    </div>
                    <div class="mt-2">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4 bg-gray shadow ">
            <div class="card-header  text-center text-light bg-gray">
                
                <h5 class="mb-0"><i class="fas fa-trophy me-2"></i> TOP 5 najprodavanijih proizvoda</h5>
            </div>
            <div class="card-body">

                <div class="table-responsive  border-top rounded-top">

                    <table class="table table-hover table-secondary ">

                        <thead class="table-dark text-light">
                            <tr>  
                                <th>Proizvod</th>
                                <th>Cena</th>
                                <th>Prodatih komada</th>
                                <th>Ocena</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var p in Model.products)
                            {
                                <tr>
                                    <td>@p.Name</td>
                                    <td>@p.Price</td>
                                    <td>@p.TimesBought</td>
                                    <td>
                                        @{
                                            var avgRating = p.Ratings.Any() ? p.Ratings.Average(r => r.Score) : 0;
                                        }
                                        @avgRating.ToString("0.0")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <h5 class="mb-0 mt-4 text-center text-light"> Spisak brendova naočara sortiranih po oceni</h5>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
            

            @{
                var rank = 1;
                foreach (var p in Model.Brands)
                {
                    <div class="col ">
                        <div class="card shadow-sm h-100 border-0 rounded-3 text-center ">
                            <div class="card-body bg-secondary shadow">
                                <h6 class="card-title fw-bold mb-2">
                                    <span class="text-light"> #@rank</span>
                                </h6>
                                <p class="mb-1 fw-bolder fs-5 text-info">@p.Brand</p>
                                <p class="mb-0">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Round(p.AverageRating))
                                        {
                                            <i class="bi bi-star-fill text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star-fill"></i>
                                        }
                                    }
                                </p>
                                <small class="text-warning fw-bolder">(@p.AverageRating.ToString("0.0"))</small>
                            </div>
                        </div>
                    </div>
                    rank++;
                }
            }
        </div>


    </div>
</div>