@using SunglassesApp.Helpers;
@using SunglassesApp.Models
@{
    Layout = "_AdminLayout";
}
@model PaginatedList<Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Proizvodi</h1>

<div class="container">
        <div class="card mt-4 bg-gray">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="card-header  text-center text-light bg-gray d-flex flex-row-reverse justify-content-between flex-wrap align-items-center">
            <form method="get" asp-controller="Product" asp-action="ManageProducts" class="d-flex justify-content-end">
                <select name="sortOrder" class="form-select" onchange="this.form.submit()">
                    <option value="default" selected="@(ViewBag.CurrentSort == null || ViewBag.CurrentSort == "default")">Podrazumevano</option>
                    <option value="price_asc" selected="@(ViewBag.CurrentSort == "price_asc")">Cena rastuće</option>
                    <option value="price_desc" selected="@(ViewBag.CurrentSort == "price_desc")">Cena opadajuće</option>
                    <option value="times_bought" selected="@(ViewBag.CurrentSort == "times_bought")">Najprodavaniji</option>
                </select>
            </form>
                <h5 class="mb-0"><i class="fas fa-trophy me-2"></i>Proizvodi na lageru</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive  border-top rounded-top">
                    <table class="table table-hover table-secondary ">
                        <thead class="table-dark text-light">
                            <tr>                  
                                <th>Proizvod</th>
                                <th>Boja stakala</th>
                                <th>Boja okvira</th>
                                <th>Tip okvira</th>
                                <th>Kategorija</th>
                                <th>Cena</th>
                                <th>Izmeni</th>
                                <th>Obriši</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var p in Model)
                        {
                            <tr>
                                <td>@p.Name</td>
                                <td>@p.LensColor?.GetDisplayName()</td>
                                <td>@p.FrameColor?.GetDisplayName()</td>
                                <td>@p.FrameType?.GetDisplayName()</td>
                                <td>@p.Category?.GetDisplayName()</td>
                                
                                <td>@p.Price RSD</td>
                                <td>
                                    <form asp-action="EditProduct" asp-controller="Product"  asp-route-id="@p.Id" method="get" class="d-inline">
                                        <button type="submit" class="border-0 bg-transparent p-0">
                                            <i class="bi bi-pencil text-success fw-bolder p-2 " style="font-size: 1.2rem"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form asp-action="DeleteProduct" asp-controller="Product" asp-area="Admin" asp-route-id="@p.Id" method="post" class="d-inline">
                                        <button type="submit" class="border-0 bg-transparent p-0">
                                            <i class="bi bi-trash text-danger fw-bolder p-2" style="font-size: 1.2rem"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }

                        </tbody>
                        
                    </table>
                <nav>
                    <ul class="pagination justify-content-center">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ManageProducts"
                                   asp-route-page="@(Model.PageIndex - 1)"
                                   asp-route-sortOrder="@ViewBag.CurrentSort">
                                   Prethodna
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled"><span class="page-link">Prethodna</span></li>
                        }

                        <li class="page-item disabled">
                            <span class="page-link">
                                Stranica @Model.PageIndex od @Model.TotalPages
                            </span>
                        </li>

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ManageProducts"
                                   asp-route-page="@(Model.PageIndex + 1)"
                                   asp-route-sortOrder="@ViewBag.CurrentSort">
                                    Sledeća
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled"><span class="page-link">Sledeća</span></li>
                        }
                    </ul>
                </nav>
                </div>
                
            </div>
            
        </div>
        

</div>

